<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
        <div class="homepage">
            <h1>This Is Your Existing Blog</h1>
        </div>   
        <div >
            <% if(locals.textHere) {%>
                <p id="blogText">
                    <%= textHere %>
                </p>
            <% } else {%>
                <div class="homepage">
                    <p>Your Blog is Empty!</p>
                </div>
            <% } %>
        </div>     
    <script type="module" src="/js/script.js"></script>
    <%- include("partials/footer.ejs") %>
</body>

</html>