        BlogLayout.png
        BlogWebsite.odt
        node_modules/
        package-lock.json
        package.json
        public/.gitignore
        public/.gititnore
        public/images/
        testfile.txt