.homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.write {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about {
    display: flex;
    justify-items: center;
    width: 800px;
    margin-left: 30%;
}

#blogText {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px 50px 450px;
}
